__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*.out
logs
.vscode
local/
.gitmodules
megatron/core/datasets/helpers_cpp

hf_models/
megatron_models/
nccl.log
processed_datasets/
raw_datasets/
training_outputs*/
.cache/
hostfile.txt
trash_bin/
debug_mrl/
debug/
examples_jiutian/sandbox_fusion_hostfile.txt

run.log

quickstarts/*/*/